li {
      border-bottom:1px solid black;
      border-left:1px solid black;
      border-top:1px solid black;
      display:inline-block;
    }
	
#buttons {
	position: absolute;
	width: 30%;
	right: 10px;
	border:1px solid red;
}
canvas {
	border:1px solid red;
}